<% layout('/layouts/boilerplate') -%>
    <div class="row">
        <div class="col-8 offset-2">
            <h3>Create a new post</h3>
            <form method="POST" novalidate class="needs-validation" action="/listings" enctype="multipart/form-data">
                <div class="mb-3 ">
                    <label for="title" class="form-label">Title</label>
                    <input class="form-control" name="listing[title]" id="title" placeholder="enter the title"
                        type="text" required>
                    <div class="valid-feedback">Title looks good</div>
                    <div class="invalid-feedback">Enter valid title</div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" name="listing[description]" id="description"
                        placeholder="enter the description" type="text" required></textarea>
                    <div class="invalid-feedback">Enter the description</div>
                </div>
                <!-- Category Dropdown -->
                <div class="mb-3">
                    <label for="category" class="form-label">Category</label>
                    <select class="form-select" name="listing[category]" id="category" required>
                        <option selected disabled value="">Choose...</option>
                        <option value="Trending">Trending</option>
                        <option value="Mountains">Mountains</option>
                        <option value="Beaches">Beaches</option>
                        <option value="Rooms">Rooms</option>
                        <option value="Smart cities">Smart cities</option>
                        <option value="Farms">Farms</option>
                        <option value="Hiking">Hiking</option>
                    </select>
                    <div class="invalid-feedback">Please select a category.</div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Upload listing image</label>
                    <input class="form-control" type="file" name="listing[image]" id="image">
                </div>
                <div class="row">
                    <div class="mb-3 col-4">
                        <label for="price" class="form-label">Price</label>
                        <input class="form-control" id="price" name="listing[price]" type="number"
                            placeholder="enter the price" required>
                        <div class="invalid-feedback">Enter valid price</div>
                    </div>

                    <div class="mb-3 col-8">
                        <label for="location" class="form-label">Location</label>
                        <input class="form-control" id="location" name="listing[location]"
                            placeholder="enter the location" type="text" required>
                        <div class="invalid-feedback">Enter valid Location</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="country" class="form-label">Country</label>
                    <input class="form-control" id="country" name="listing[country]" placeholder="enter the country"
                        type="text" required>
                    <div class="invalid-feedback">Enter valid Country</div>
                </div>
                <button class="btn btn-dark">Add</button>
            </form>
            <br>
        </div>
    </div>