body {
    background-color: bisque !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

.navbar {
    /* height: 5rem; */
    min-height: 5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    /* padding: 0.5rem 1rem; */
    background-color: beige;
}




/* .fa-compass {
    font-size: 2rem;
    color: #CC8B65;
} */


.nav-link {
    color: #222222 !important;
}

.f-info {
    display: flex;
    background-color: rgb(160, 151, 151);
    height: 6rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

.f-info-socials,
.f-info-links,
.f-info-brand {
    width: 100%;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
}

.f-info-socials i {
    margin-right: 1rem;
    font-size: 1.2rem;
}

.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
}

/* Card effects */
.card {
    border: none !important;
    border-radius: 1rem !important;
    background-color: #faebd7 !important;

    margin: 0.5rem;
    margin-bottom: 2rem;
    box-shadow: 0 6px 12px rgba(139, 69, 19, 0.15), 0 10px 20px rgba(139, 69, 19, 0.1);

}

.index-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(139, 69, 19, 0.25), 0 16px 32px rgba(139, 69, 19, 0.2);
}

.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: beige;
}

.card-img-top {
    object-fit: cover;
    width: 100% !important;
    height: 14rem !important;
    border-radius: 1rem 1rem 0 0 !important;
}


.card-title {
    font-size: 1rem;
    font-weight: bold;
    color: #8b4513;
}

.card-text {
    font-size: 1.1rem;
    color: #a0522d;
}


.listing-link {
    text-decoration: none;
    color: inherit;
}




/* New Listings */

.form-control {
    offset: 2 !important;
}


.show-image {
    height: 40vh;
    object-fit: cover;
}

.btns {
    display: flex;
}

/* Map styling */

#map {
    height: 300px;
    width: 100%;
}


/* index page */

.filters {
    margin-top: 1rem;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-bottom: 0.5rem;
    -ms-overflow-style: none;
}

.filter {
    text-align: center;
    margin-right: 2rem;
    opacity: 0.7;
    padding-top: 0.3rem;
}

.filters::-webkit-scrollbar {
    display: none;
}

.filter:hover {
    opacity: 1;
    cursor: pointer;
}


.filters-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    margin-top: 1rem;
}

.filters-left {
    display: flex;
    gap: 1.5rem;
    font-size: 1.1rem;
    color: #4a3f35;
}

.toggle-switch {
    background-color: transparent;
    color: #4a4a4a;
    border: none;
    border-radius: 8px;
    padding: 0.5rem 0.8rem;
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    transition: background 0.2s ease;
    white-space: nowrap;
    margin-bottom: 0.5rem;
    cursor: pointer;
}



.toggle-switch:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

.form-switch {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}