<% layout('/layouts/boilerplate') -%>
<div class="row mt-3">
    <h1 class="row col-6 offset-5">Login!</h1>
    <div class="row col-6 offset-3">
        <form action="/login" method="POST">
            <div class="mb-3 ">
                <label for="username" class="form-label" class="needs-validation" novalidate>Username</label>
                <input class="form-control"
                name="username"
                id="username"
                placeholder="enter the username"
                type="text" 
                required>
            </div>
            <div class="mb-3 ">
                <label for="password" class="form-label" class="needs-validation" novalidate>Password</label>
                <input class="form-control"
                name="password"
                id="password"
                placeholder="enter the password"
                type="password" 
                required>
            </div>
            <button class="btn btn-success">Login</button>
        </form>
    </div>
</div>