<% layout('/layouts/boilerplate') -%>
<div class="row mt-3">
    <h1 class="row col-6 offset-5">SignUp!</h1>
    <div class="row col-6 offset-3">
        <form action="/signup" method="POST">
            <div class="mb-3 ">
                <label for="username" class="form-label" class="needs-validation" novalidate>Username</label>
                <input class="form-control"
                name="username"
                id="username"
                placeholder="enter the username"
                type="text" 
                required>
                <div class="valid-feedback">Looks Good!</div>
            </div>
            <div class="mb-3 ">
                <label for="email" class="form-label" class="needs-validation" novalidate>email</label>
                <input class="form-control"
                name="email"
                id="email"
                placeholder="enter the email"
                type="email" 
                required>
            </div>
            <div class="mb-3 ">
                <label for="password" class="form-label" class="needs-validation" novalidate>Password</label>
                <input class="form-control"
                name="password"
                id="password"
                placeholder="enter the password"
                type="password" 
                required>
            </div>
            <button class="btn btn-success">Signup</button>
        </form>
    </div>
</div>